<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DezSys07</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.css" rel="stylesheet" media="screen" />
</head>
<body>
<div th:include="navbar :: navbar"></div>
<div class="container jumbotron" style="background:transparent !important">
<h1>Home</h1>

<!-- Content end -->
</div>
</body>
</html>