<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Volltextsuche</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <link th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.css" rel="stylesheet" media="screen" />
</head>

<body>
<div th:include="navbar :: navbar"></div>
<div class="container jumbotron" style="background:transparent !important">
<h1>Volltextsuche</h1>
<div class="form-group">
<form id="inputForm" action="searchsubmit" method="get">
    <input placeholder="Suchstring" class="form-control" type="text" id="searchstring" name="searchstring" /><br/>
    <input type="submit" class="btn btn-primary" value="Suchen"/>
</form>
</div>


<br/><br/>
<a href="/">Zur&uuml;ck</a> <br/>
</div>
</body>
</html>